body {
  text-align: center;
  font-family: sans-serif;
  margin-top: 2rem;
  background: #f7f7f7;
}

canvas {
  border: 1px solid #aaa;
  display: block;
  margin: 1rem auto;
  background-color: white;
}

#pencil {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: 10;
}
